<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="content-wrapper" style="min-height: 1416.81px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Dashboard</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
    
          <!-- Default box -->
          <div class="card card-solid">
            <div class="card-header">
                <h5 class="float-left">Usuarios destacados</h5>
                <div class="float-right">
                    <input type="text" placeholder="Buscar por nombre" name="name" class="form-control" id="listSearch" [(ngModel)]="name" (ngModelChange)="Search()">
                </div>
            </div>
            <div class="card-body pb-0">
              <div class="row d-flex align-items-stretch">

                <div *ngFor="let user of users | paginate : {itemsPerPage:9, currentPage:p};" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                  <div class="card bg-light">
                    <div class="card-header text-muted border-bottom-0">
                        {{user.department.name}}
                      
                    </div>
                    <div class="card-body pt-0">
                      <div class="row">
                        <div class="col-7">
                          <h2 class="lead"><b>{{user.name}} {{user.secondname.String}}</b></h2>
                          <p class="text-muted text-sm"><b>Acerca de: </b> Genero : {{user.gender.name}} / Nacimiento : {{user.birthdate.String}} 
                            </p>
                          <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-user"></i></span> Apellidos: {{user.surname}} {{user.lastname}}</li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> Email: {{user.email}}</li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-id-card"></i></span> 
                                Documento: {{user.documentid}} / {{user.document_type.name}}</li>
                          </ul>
                        </div>
                        <div class="col-5 text-center">
                          <img src="../../assets/img/user.webp" alt="" class="img-circle img-fluid">
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="text-right small">
                          <p><b>Fecha de registro: </b>{{user.regdate}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

                <pagination-controls (pageChange) = "p = $event"></pagination-controls>
            </div>
                <a [routerLink]="['/users']" class="btn btn-secondary btn-block"><i class="fas fa-plus"></i> Ver mas</a>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
    
        </section>
        <!-- /.content -->
      </div>

    <app-footer></app-footer>

</div>