<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="content-wrapper" style="min-height: auto;">
        <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Editar Usuario</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/users']">Usuarios</a></li>
                    <li class="breadcrumb-item active">Editar usuario</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>

          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-secondary">
                    <div class="card-header">
                      <h3 class="card-title">Datos principales</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Contraseña</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 ">
                                <label for="exampleInputEmail1">Primer nombre</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Juan">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="exampleInputEmail1">Segundo nombre</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Antonio">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 ">
                                <label for="exampleInputEmail1">Documento</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Juan">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Tipo de documento</label>
                                <select class="form-control">
                                  <option *ngFor="let document_type of document_types" option value="{{document_type.id}}">{{document_type.name}}</option>
                                </select>
                              </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 ">
                                <label for="exampleInputEmail1">Primer Apellido</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Baca">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="exampleInputEmail1">Segundo Apellido</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Canizales">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Genero</label>
                            <select class="form-control">
                            <option *ngFor="let gender of genders" option value="{{gender.id}}">{{gender.name}}</option>
                            </select>
                        </div>
                      </div>
                      <!-- /.card-body -->
      
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                      </div>
                    </form>
                  </div>
                  <!-- /.card -->
      
                </div>
              </div>
              <!-- /.row -->
            </div><!-- /.container-fluid -->
          </section>

    </div>

    <app-footer></app-footer>

</div>



