<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <img width="70%" src="assets/img/cidenet-logo.png" alt="logo">
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Iniciar sesión</p>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <div class="alert alert-danger" *ngIf="errorStatus">
          <span>{{errorMsj}}</span>
        </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" formControlName="email" required placeholder="Correo electronico">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password" required placeholder="Contraseña">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            </div>
          </div>
        </form>

        <!-- <p class="mb-1"> -->
          <!-- <a href="forgot-password.html">I forgot my password</a> -->
        <!-- </p> -->
        <!-- <p class="mb-0"> -->
          <!-- <a href="register.html" class="text-center">Register a new membership</a> -->
        <!-- </p> -->
      </div>
    </div>
  </div>
</body>
