<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
      <img src="assets/img/top-logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">{{appName}}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition"><div class="os-resize-observer-host"><div class="os-resize-observer observed" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer observed"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 389px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;"><div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/img/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a [routerLink]="['/dashboard']" class="d-block">Hola {{userName}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-header">PRINCIPAL</li>
          <li class="nav-item">
            <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="nav-link" >
              <i class="nav-icon fas fa-home"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Usuarios
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/users']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-folder-open nav-icon"></i>
                  <p>Ver usuarios</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/addUser']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Agregar usuario</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">OTROS</li>

          <li class="nav-item">
            <a [routerLink]="['/countries']" [routerLinkActive]="['active']" class="nav-link" >
              <i class="nav-icon fas fa-globe"></i>
              <p>
                Países
              </p>
            </a>
          </li>
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-globe"></i>
              <p>
                Países
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/countries']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-folder-open nav-icon"></i>
                  <p>Ver países</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/addCountry']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Agregar país</p>
                </a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a [routerLink]="['/genders']" [routerLinkActive]="['active']" class="nav-link" >
              <i class="nav-icon fas fa-venus-mars"></i>
              <p>Generos</p>
            </a>
          </li>
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-venus-mars"></i>
              <p>
                Generos
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/genders']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-folder-open nav-icon"></i>
                  <p>Ver generos</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/addGender']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Agregar genero</p>
                </a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a [routerLink]="['/branches']" [routerLinkActive]="['active']" class="nav-link" >
              <i class="nav-icon fas fa-building"></i>
              <p>Oficinas</p>
            </a>
          </li>
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Oficinas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/branches']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-folder-open nav-icon"></i>
                  <p>Ver oficinas</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/addBranch']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Agregar oficina</p>
                </a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a [routerLink]="['/departments']" [routerLinkActive]="['active']" class="nav-link" >
              <i class="nav-icon fas fa-brain"></i>
              <p>Aréas</p>
            </a>
          </li>
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-brain"></i>
              <p>
                Aréas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/departments']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-folder-open nav-icon"></i>
                  <p>Ver aréas</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/addDepartment']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Agregar aréa</p>
                </a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a [routerLink]="['/idtypes']" [routerLinkActive]="['active']" class="nav-link" >
              <i class="nav-icon fas fa-id-card"></i>
              <p>Tipos de documento</p>
            </a>
          </li>
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-id-card"></i>
              <p>
                Tipos de documento
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/idtypes']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-folder-open nav-icon"></i>
                  <p>Ver tipos de documento</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/addIdType']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>Agregar tipo de documento</p>
                </a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a [routerLink]="['/gateLogs']" [routerLinkActive]="['active']" class="nav-link" >
              <i class="nav-icon fas fa-door-open"></i>
              <p>Logs de entrada</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/editLogs']" [routerLinkActive]="['active']" class="nav-link" >
              <i class="nav-icon fas fa-clipboard-list"></i>
              <p>Logs de edición </p>
            </a>
          </li>
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-archive"></i>
              <p>
                Logs
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/gateLogs']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-door-open nav-icon"></i>
                  <p>Ver entradas y salidas</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/editLogs']" [routerLinkActive]="['active']" class="nav-link">
                  <i class="fas fa-clipboard-list nav-icon"></i>
                  <p>Ver ediciones de usuario</p>
                </a>
              </li>
            </ul>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 31.0016%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
    <!-- /.sidebar -->
  </aside>